.registro{
    width: min(30rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    font-size: 70%;   
    margin-top: 100px;
    box-shadow: 1px 3px 20px 4px rgba(0,0,0,0.34);
    width: 550px;
    height: 450px; 
}

h1{
    text-align: center;
    color: #601abc;
    font-style: italic; 
}

input[type=text], input[type=email],
input[type=password], select, textarea {

    width: 100%;
    padding: 5px;
    color:  #111;
    border: 1px solid rgb(116, 115, 115);
    border-radius: 8px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#validar1{
    text-align: center;
    font-size:medium;
}
#validar{
    height: 20px;
} 

input[type=submit]{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 30px;
}
.boton{
    font-size:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    color:white;
    background:#2B6CB0;
    border: 1px;
    width:80px;
    height:19px;
    border-radius: 10px;
}
