{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio Sesion</title>
  <script src="https://kit.fontawesome.com/c5df39abaa.js" crossorigin="anonymous"></script>
  <link href="{% static 'Ventasgamer\css\signin.css' %}" rel="stylesheet">
</head>

<body>
  <section class="inicio">
    <fieldset>
        
        
        <form method="POST" action="" class="formulario box-shadow">
            {% csrf_token %}
            <h1>
                Bienvenido
            </h1>
            <div class="form_group" id="formulario">
                {{ini.as_table}}
            </div>
            <br>
            <button type="submit" id="is">Iniciar Sesión</button>
            <div>{{ mensaje }}</div>
        </form>
    </fieldset>

  <div class="sign-txt">No estas registrado? <a href="{% url 'registro' %}">Registrate ahora</a></div>
    <a href="{% provider_login_url 'google' %}">Iniciar sesion con Google</a>
  </div>
</section>
  <script src="{% static 'Ventasgamer\js\validadorinicio.js' %}"></script>
</body>

</html>